TAVILY_API_KEY=
GEMINI_API_KEY=
GROQ_API_KEY=
OPENROUTER_API_KEY=
DEEPSEEK_API_KEY=
NEWS_API_KEY=
QDRANT_NEWS_API_KEY=
QDRANT_NEWS_URL=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
GEMINI_EMBEDDING_API_KEY=
MEM0_API_KEY=